doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css', integrity='sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=', crossorigin='anonymous')
    link(rel='stylesheet', href='css/style.css')
    title Chatter
  body
    .chat-container
      header.chat-header
        h1 Chatter
        form(action="/leave-room", method="post")
          input#roomId(type='hidden', name='roomId', value=roomId)
          input#username(type='hidden', name='username', value=username)
          button.btn(type='submit')
            |  Leave Room
      main.chat-main
        .chat-sidebar
          h3
            i.fas.fa-comments
            |  Room ID:
          h2#room-name #{roomId}
          h3
            if roomPassword.length == 0
              i Open Room
            else
              | Room Password :
          if roomPassword.length != 0
            h2#room-name #{roomPassword}
          h3
            i.fas.fa-users
            |  Users
          ul#users
        .chat-messages
          .message
            p.meta
              | A 
              span 9:12pm
            p.text
              | Hey.
          .message
            p.meta
              | B 
              span 9:15pm
            p.text
              | Hello.
      .chat-form-container
        form#chat-form
          input#msg(type='text', placeholder='Enter Message', required='', autocomplete='off')
          button.btn
            i.fas.fa-paper-plane
            |  Send
    script(src='/socket.io/socket.io.js')
    script(src='/js/main.js')
